%base_inputs {
    width: 150px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
}

%base_buttons {
    width: 150px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}